<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.travel.mapper.IRouteMapper">

    <sql id="routeSQL1">
        select count(*)
        from tab_route
        where rflag = 1
    </sql>
    <sql id="routeSQL2">
        select *
        from tab_route
        where rflag = 1
    </sql>

    <select id="findCountByCid" resultType="long">
        <include refid="routeSQL1"/>
        <if test="cid!=null and ''!=cid and 'null'!=cid">and cid = #{cid}</if>
        <if test="''!=keyword and 'null' != keyword and keyword != null">and rname like #{keyword}"</if>
    </select>

    <select id="findPageRoutes" resultType="list">
        <include refid="routeSQL1"/>
        <if test="cid!=null and ''!=cid and 'null'!=cid">and cid = #{cid}</if>
        <if test="''!=keyword and 'null' != keyword and keyword != null">and rname like #{keyword}</if>
        <if test="1 == 1">limit #{currentPage}, #{pageSize};</if>
    </select>

    <select id="findRouteCount" resultType="long">
        <include refid="routeSQL1"/>
        <if test="maxPrice!=null and ''!=maxPrice and 'null'!=maxPrice">and price &lt;= #{maxPrice}</if>
        <if test="minPrice!=null and ''!=minPrice and 'null'!=minPrice">and price > #{minPrice}</if>
        <if test="''!=rname and 'null' != rname and rname != null">and rname like #{rname}</if>
    </select>

    <select id="findPageRouteByCount" resultType="list">
        <include refid="routeSQL2"/>
        <if test="maxPrice!= null and ''!=maxPrice and 'null'!=maxPrice">and price &lt;= #{maxPrice}</if>
        <if test="minPrice!= null and ''!=minPrice and 'null'!=minPrice">and price > #{minPrice}</if>
        <if test="''!=rname and 'null' != rname and rname != null">and rname like #{rname}</if>
        <if test="1 == 1">order by count desc limit #{currentPage}, #{pageSize};</if>
    </select>
</mapper>